/*
* 我们的自定义样式
* @Author: iceStone
* @Date:   2015-12-12 10:56:34
* @Last Modified by:   iceStone
* @Last Modified time: 2015-12-12 17:51:08
*/


/**
 * 1. 样式都通过ID去限定
 * 2. 尽可能多使用直接子代选择器
 */


/**
 * Bootstrap扩展
 */

.btn-itcast {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
  color: #ffffff;
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
  background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
  background-color: #E92322;
  border-color: #DB3B43;
}

.btn-itcast .badge {
  color: #E92322;
  background-color: #ffffff;
}

.navbar-itcast {
  background-color: #fff;
  border-color: #f5f5f5;
}

.navbar-itcast .navbar-brand {
  color: #777;
  height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-itcast .navbar-text {
  color: #777;
}

.navbar-itcast .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
  font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
  border-bottom: 2px solid #E92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-itcast .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
  border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-itcast .navbar-link {
  color: #777;
}

.navbar-itcast .navbar-link:hover {
  color: #333;
}

.navbar-itcast .btn-link {
  color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
  color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
  color: #ccc;
}


/**
 * 公共样式
 */

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
  font-family: 'itcast';
  src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: itcast;
  font-style: normal;
}

.icon-mobilephone::before {
  content: "\e908";
  font-size: 13px;
}

.icon-telephone::before {
  content: "\e909";
  font-size: 15px;
}

.icon-logo::before {
  content: "\e93e";
}

.icon-icon::before {
  content: "\e920";
}


/**
 * 头部区域
 */

#header {
  height: 200px;
}

#header > .topbar {
  height: 40px;
  border-bottom: 1px solid #c0c0c0;
  line-height: 40px;
}

#header > .topbar > .container > .row > div {
  height: 40px;
  font-size: 12px;
  color: #888;
}

#header > .topbar > .container > .row > div + div {
  border-left: 1px solid #c0c0c0;
}

#header a {
  color: #888;
}

#header a:hover {
  text-decoration: none;
}

#header .btn-itcast {
  color: #fff;
}

#header .mobile-link > img {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  z-index: 1001;
}

#header .mobile-link:hover > img {
  display: block;
}

#header .icon-icon {
  font-size: 50px;
  color: #E92322;
  line-height: 50px;
  vertical-align: middle;
}

#header .icon-logo {
  font-size: 32px;
  color: #333;
  line-height: 50px;
  vertical-align: middle;
}


/*#header > .topbar > .container > .row > div {
  background-color: #f40;
  height: 40px
}

#header > .topbar > .container > .row > div:nth-of-type(2n) {
  background-color: #f00;
}*/


/**
 * 测试样式区域
 */

section {
  height: 200px;
  background-color: #fff;
}

section:nth-of-type(2n) {
  /* 选择到第1,3,5,。。。。 */
  background-color: #f5f5f5;
}


/**
 * 脚注区域
 */

#footer {}
